<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471248534167-5fpqo5ljqcjgbcu87pqr5vmo2ova6446.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471248534167-5fpqo5ljqcjgbcu87pqr5vmo2ova6446</string>
	<key>API_KEY</key>
	<string>AIzaSyCU4qurXKBXXgwKAscYsaXIF4vUSiiCz3I</string>
	<key>GCM_SENDER_ID</key>
	<string>471248534167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhuiyu.Why-am-I-so-poor</string>
	<key>PROJECT_ID</key>
	<string>why-am-i-so-poor-c9c90</string>
	<key>STORAGE_BUCKET</key>
	<string>why-am-i-so-poor-c9c90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471248534167:ios:d494c2fb14ae4c811d47d2</string>
</dict>
</plist>